
@font-face {
  font-family: 'DejaVuSerif-Bold';
  src: url('DejaVuSerif-Bold.eot?#iefix') format('embedded-opentype'),  url('DejaVuSerif-Bold.woff') format('woff'), url('DejaVuSerif-Bold.ttf')  format('truetype'), url('DejaVuSerif-Bold.svg#DejaVuSerif-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
