
@font-face {
  font-family: 'DejaVuSerifCondensed';
  src: url('DejaVuSerifCondensed.eot?#iefix') format('embedded-opentype'),  url('DejaVuSerifCondensed.woff') format('woff'), url('DejaVuSerifCondensed.ttf')  format('truetype'), url('DejaVuSerifCondensed.svg#DejaVuSerifCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
