
@font-face {
  font-family: 'DejaVuSerif';
  src: url('DejaVuSerif.eot?#iefix') format('embedded-opentype'),  url('DejaVuSerif.woff') format('woff'), url('DejaVuSerif.ttf')  format('truetype'), url('DejaVuSerif.svg#DejaVuSerif') format('svg');
  font-weight: normal;
  font-style: normal;
}
